@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Baloo+Bhaijaan+2:wght@400;600&family=Open+Sans:wght@400;500&display=swap");

/* Components */
@import "components/status-bar.css";

/* Screens */
@import "screens/login.css";

:root {
  --theme-color-a: #272c1e;
  --theme-color-b: #55641f;
  --theme-color-c: #789236;
  --theme-color-d: #9ab452;
  --theme-color-e: #d9db9f;
}

body {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: var(--theme-color-a);
  background-color: var(--theme-color-e);
}
h1 {
  font-family: "Bungee Shade", cursive;
}
main {
  padding: 0px 25px;
}
